<% include partials/header %>
<div class="container" id="signup">

<div class="row">
    <div class="col-sm-12">
<h1>Sign Up!</h1>
</div>
</div>
<div class="row">
    <div class="col-sm-12">
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</div>
</div>
</form>
</div>