<% include partials/header %>
<h1>
    Heylo
</h1>

<form action="/adminsinfo" method="POST">
<input type="email" placeholder="enter your mail id">
<input type="password" placeholder="enter a password">
<input type="submit">
</form>
